<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-footer class="app-footer" *ngIf="shouldShowFooter()">
  <ion-toolbar>
    <ion-buttons>
      <ion-button
        class="tab-like-button"
        (click)="navigateToInbox()"
        [ngClass]="{'active-tab': isActiveTab('/home')}"
      >
        <div class="button-content">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>Pending</ion-label>
        </div>
      </ion-button>
      <ion-button
        class="tab-like-button"
        (click)="navigateToOutbox()"
        [ngClass]="{'active-tab': isActiveTab('/sent-messages')}"
      >
        <div class="button-content">
          <ion-icon name="send-outline"></ion-icon>
          <ion-label>Sent</ion-label>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
